<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>OA-Rest-Record</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">OA-Rest-Record</h4>
            </div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <th class="text-center">ID</th>
                        <th class="text-center">时间</th>
                        <th class="text-center">类型</th>
                        <th class="text-center">标志</th>
                        <th class="text-center">参数</th>
                        <th class="text-center">结果</th>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="o : ${oaRestRecords.content}">
                            <td th:text="${o.id}">ID</td>
                            <td th:text="${o.restAt}">时间</td>
                            <td th:text="${o.type}">类型</td>
                            <td th:text="${o.success}">标志</td>
                            <td th:text="${o.params}">标志</td>
                            <td th:text="${o.result}">结果</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="pagination pagination-lg"
    th:with="currentPage=${oaRestRecords.number}+1, totalPages=${oaRestRecords.totalPages}, therf='oaRestRecords?page='">
    <li th:class="${currentPage==1}?'disabled' : ''"><a th:href="${currentPage==1}?'#':@{${therf} + ${currentPage-2}}">上一页</a>
    </li>
    <li th:if="${currentPage-3 >=1}"><a th:href="@{${therf} + ${currentPage-4}}" th:text="${currentPage -3}">1</a></li>
    <li th:if="${currentPage-2 >=1}"><a th:href="@{${therf} + ${currentPage-3}}" th:text="${currentPage -2}">1</a></li>
    <li th:if="${currentPage-1 >=1}"><a th:href="@{${therf} + ${currentPage-2}}" th:text="${currentPage -1}">1</a></li>
    <li class="active"><a href="#" th:text="${currentPage}">1</a></li>
    <li th:if="${currentPage+1 <=totalPages}"><a th:href="@{${therf} + ${currentPage}}"
                                                 th:text="${currentPage +1}">1</a></li>
    <li th:if="${currentPage+2 <=totalPages}"><a th:href="@{${therf} + ${currentPage+1}}"
                                                 th:text="${currentPage +2}">1</a></li>
    <li th:if="${currentPage+3 <=totalPages}"><a th:href="@{${therf} + ${currentPage+2}}"
                                                 th:text="${currentPage +3}">1</a></li>
    <li th:class="${currentPage==totalPages}?'disabled' : ''"><a
            th:href="${currentPage==totalPages}?'#':@{${therf} + ${currentPage}}">下一页</a></li>
</ul>

</body>
</html>