<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Polling-Record</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>

<body>
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="panel-title">Polling-Record</h4>
            </div>
            <div class="panel-body">
                <div class="table table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <th class="text-center">ID</th>
                        <th class="text-center">时间</th>
                        <th class="text-center">数量</th>
                        <th class="text-center">下次时间</th>
                        </thead>
                        <tbody class="text-center">
                        <tr th:each="o : ${pollingRecords.content}">
                            <td th:text="${o.id}">ID</td>
                            <td th:text="${o.pollAt}">时间</td>
                            <td th:text="${o.taskCount}">任务数</td>
                            <td th:text="${o.nextTime}">下次轮询</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="pagination pagination-lg"
    th:with="currentPage=${pollingRecords.number}+1, totalPages=${pollingRecords.totalPages}, therf='pollingRecords?page='"
    th:if="${pollingRecords.totalPages > 0}">
    <li th:if="${currentPage>1}"><a th:href="@{${therf} + ${currentPage-2}}">上一页</a></li>
    <li th:if="${currentPage-3>=1}"><a th:href="@{${therf} + ${currentPage-4}}" th:text="${currentPage-3}">1</a></li>
    <li th:if="${currentPage-2>=1}"><a th:href="@{${therf} + ${currentPage-3}}" th:text="${currentPage-2}">1</a></li>
    <li th:if="${currentPage-1>=1}"><a th:href="@{${therf} + ${currentPage-2}}" th:text="${currentPage-1}">1</a></li>
    <li class="active"><a href="#" th:text="${currentPage}">1</a></li>
    <li th:if="${currentPage+1<=totalPages}"><a th:href="@{${therf} + ${currentPage}}"
                                                 th:text="${currentPage +1}">1</a></li>
    <li th:if="${currentPage+2<=totalPages}"><a th:href="@{${therf} + ${currentPage+1}}"
                                                 th:text="${currentPage +2}">1</a></li>
    <li th:if="${currentPage+3<=totalPages}"><a th:href="@{${therf} + ${currentPage+2}}"
                                                 th:text="${currentPage +3}">1</a></li>
    <li th:if="${currentPage<totalPages}"><a th:href="@{${therf} + ${currentPage}}">下一页</a></li>
</ul>

</body>
</html>